table{
    width: 100%;
    border-collapse: collapse;

}
th,td {
    border: 2px solid black;
    padding:20px ;
    margin: 10px;

}

thead   {
    font-family: "Arial Narrow";
    font-size: 28px;
    color: blueviolet;
}

body{
    /*background-image: url("Assets/Images/BWSG.png");*/
    background-color: cyan;
}

h2{
    text-align: center;
    font-size: 30px;
    font-c
}
/*Research on how to align images in CSS*/
img{
    display: block;
    width: 150px;
    margin: auto;
}